@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}

html, body, #root {
  min-height: 100%;
}
body {
  
  background: linear-gradient(135deg, #ECFDF5, #F0FDF4);  
}